* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.container {
  width: 1170px;
  margin: auto;
}

.container > * {
  padding: 10px 5px;
}

#home-menu {
  background-color: whitesmoke;
  border: 1px solid black;
}

#home-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

#home-menu ul li {
  padding: 20px;
}

#table {
  text-align: left;
}

#table tbody tr td {
  padding: 5px 15px;
  padding-left: 0;
}

#create-form {
  padding: 10px 0;
}

#create-form .btn-group {
  padding: 10px 0;
}

#create-form .btn-group button {
  padding: 5px;
}

